<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/page-fragment :: head('Post')}"></div>

<body>
<div th:replace="~{/fragments/page-fragment :: navbar}"></div>
<div th:replace="~{/fragments/page-fragment :: loadinganimation}"></div>

<div class="error-container">
    <img src="../static/images/error-view.jpg" alt="error-view-image" th:src="@{/images/error-view.jpg}">
    <h2 class="error-view" th:text="${statusCode}">HTTP Status Code</h2>
    <h4 class="error-view" th:text="${error}">Error placeholder</h4>
</div>

<footer th:replace="~{/fragments/page-fragment :: footer}"></footer>
<div th:replace="~{/fragments/page-fragment :: scripts}"></div>
</body>
</html>