<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/page-fragment :: head('Home')}"></div>

<body>
<div th:replace="~{/fragments/page-fragment :: navbar}"></div>
<!-- preloader -->
<div class="preloader">
    <div class="loader">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- /preloader -->

<!-- featured post -->
<section>
    <div class="container-fluid p-sm-0">
        <div class="row featured-post-slider">
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/10.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
<!--                            <p class="text-uppercase">LifeStyle</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[9].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[9].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[9].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/9.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
<!--                            <p class="text-uppercase">Philosophy</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[8].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[8].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[8].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/8.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
<!--                            <p class="text-uppercase">Fashion</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[7].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[7].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[7].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/7.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
<!--                            <p class="text-uppercase">Article</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[6].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[6].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[6].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/6.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
<!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[5].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[5].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[5].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/5.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[4].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[4].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[4].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/4.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[3].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[3].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[3].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/3.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[2].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[2].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[2].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/2.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[1].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[1].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[1].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
            <div class="col-lg-3 col-sm-6 mb-2 mb-lg-0 px-1">
                <article class="card bg-dark text-center text-white border-0 rounded-0">
                    <img class="card-img rounded-0 img-fluid w-100" th:src="@{images/featured-post/1.jpg}" alt="post-thumb">
                    <div class="card-img-overlay">
                        <div class="card-content">
                            <!--                            <p class="text-uppercase">Nature</p>-->
                            <h4 class="card-title mb-4">
                                <a class="text-white text-shadow" th:text="${mostCommentedPosts[0].getTitle()}"
                                   th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[0].id : '/auth/login'}"></a>
                            </h4>
                            <a class="btn btn-outline-light"
                               th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[0].id : '/auth/login'}">
                                read more
                            </a>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- blog post theme 1 -->
<section class="section">
    <div class="container">
        <div class="row masonry-container">

            <div class="col-lg-4 col-sm-6 mb-5" th:each="p, iterStat : ${mostRecentPosts}">
                <article class="text-center">
                    <img class="img-fluid mb-4" th:src="@{'images/masonary-post/post-' + ${iterStat.index + 1} + '.jpg'}" alt="post-thumb">
                    <h4 class="title-border"><a class="text-dark" th:text="${p.getTitle()}" th:href="${isAuthenticated ? '/posts/' + p.id : '/auth/login'}"></a>
                    </h4>
                    <p th:text="${#strings.substring(p.getContent(), 0, p.getContent().length() > 350 ? 350 : p.getContent().length()) + '...'}"></p>
                    <a href="blog-single.html" class="btn btn-transparent" th:href="${isAuthenticated ? '/posts/' + mostCommentedPosts[0].id : '/auth/login'}">read more</a>
                </article>
            </div>
        </div>
    </div>
</section>

<footer th:replace="~{/fragments/page-fragment :: footer}"></footer>

<div th:replace="~{/fragments/page-fragment :: scripts}"></div>

</body>
</html>
