<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/page-fragment :: head('Posts')}"></div>

<body>
<div th:replace="~{/fragments/page-fragment :: navbar}"></div>
<div th:replace="~{/fragments/page-fragment :: loadinganimation}"></div>

<!-- POST -->
<section class="section">
    <div class="container d-flex align-items-center flex-column">
        <form class="form-inline position-relative d-flex align-items-center"
              action="#" th:action="@{/posts}" method="get" th:object="${filterDto}">

            <div class="d-flex align-items-center flex-wrap">
                <!-- Label и input за Title -->
                <label for="title-input" class="sr-only">Title</label>
                <input class="form-control px-0 w-auto mr-2" type="text" placeholder="Title" th:field="*{title}" id="title-input">

                <!-- Label и input за Username -->
                <label for="username-input" class="sr-only">Username</label>
                <input class="form-control px-0 w-auto mr-2" type="text" placeholder="Username" th:field="*{createdByUsername}" id="username-input">

                <!-- Select за Sort By -->
                <label for="sort-by-dropdown" class="sr-only">Sort By</label>
                <select class="form-control px-0 nav-item dropdown nav-link text-dark dropdown-toggle mr-2"
                        id="sort-by-dropdown" th:field="*{sortBy}">
                    <option class="dropdown-item" value="">Sort By</option>
                    <option class="dropdown-item" value="likes">Likes</option>
                    <option class="dropdown-item" value="title">Title</option>
                </select>

                <!-- Select за Sort Order -->
                <label for="sort-order-dropdown" class="sr-only">Sort Order</label>
                <select class="form-control px-0 nav-item dropdown nav-link text-dark dropdown-toggle mr-2"
                        id="sort-order-dropdown" th:field="*{sortOrder}">
                    <option class="dropdown-item" value="">Sort Order</option>
                    <option class="dropdown-item" value="asc">Ascending</option>
                    <option class="dropdown-item" value="desc">Descending</option>
                </select>

                <!-- Search бутон -->
                <input class="btn btn-lg btn-primary" type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <br/><br/><br/>
    <div class="container">
        <div class="row">
            <div class="col-12 mb-30" th:each="post : ${posts}">
                <article data-file="articles/b.html" data-target="article" class="article-full-width">
                    <div class="post-content">
                        <h4 class="mb-4 font-size-rem" ><a href="post-view.html" class="text-dark" th:href="@{'/posts/' + ${post.getId()}}" th:text="${post.getTitle()}">This is the post title</a></h4>
                        <p class="mb-0 post-summary" th:text="${#strings.substring(post.getContent(), 0, post.getContent().length() > 200 ? 200 : post.getContent().length()) + '...'}">This is the post description</p>
                        <a class="btn btn-transparent mb-4" href="post-view.html" th:href="@{'/posts/' + ${post.getId()}}">Continue...</a>
                        <ul class="list-inline d-flex justify-content-between border-bottom post-meta pb-2 mb-4">
                            <li class="list-inline-item"><i class="ti-calendar mr-2"></i><span th:text="${#dates.format(post.getCreatedAt(), 'HH:mm')}"></span></li>
                            <li class="list-inline-item"><i class="ti-user mr-2"></i><span th:text="${post.getCreatedBy().getUsername()}"></span></li>
                            <li class="list-inline-item"><i class="ti-heart mr-2"></i><span
                                    class="eta" th:text="${post.getLikes().size()}">Like size count</span>
                            </li>
                            <li class="list-inline-item"><i class="ti-pencil mr-2"></i><span
                                    class="eta" th:text="${post.getReplies().size()}">Replies count</span>
                            </li>
                        </ul>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
<!-- /POST-->

<footer th:replace="~{/fragments/page-fragment :: footer}"></footer>
<div th:replace="~{/fragments/page-fragment :: scripts}"></div>

</body>
</html>
