<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/login-style/fonts/icomoon/style.css"
          th:href="@{/login-style/fonts/icomoon/style.css}">

    <link rel="stylesheet" href="/login-style/css/owl.carousel.min.css"
          th:href="@{/login-style/css/owl.carousel.min.css}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/login-style/css/bootstrap.min.css"
          th:href="@{/login-style/css/bootstrap.min.css}">

    <!-- Style -->
    <link rel="stylesheet" href="/login-style/css/style.css"
          th:href="@{/login-style/css/style.css}">

    <title>TasteHub | Profile</title>
</head>
<body>
<!-- HEADER NAVIGATION FRAGMENT  -->
<header th:fragment="navbar" class="headroom">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" th:href="@{/}"><img class="img-fluid" src="../static/images/tasteHub-logo.png"
                                                    alt="tasteHub" th:src="@{/images/tasteHub-logo.png}"  style="width: 400px; height: auto"></a>
        <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navogation"
                aria-controls="navogation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center" id="navogation">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a th:href="@{/}" class="nav-link text-uppercase text-dark" href="index.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link text-uppercase text-dark dropdown-toggle" href="#" id="navbarDropdown"
                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Post
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a th:href="${isAuthenticated ? '/posts' : '/auth/login'}" class="dropdown-item" href="posts-view.html">Show All Posts</a>
                        <a th:href="${isAuthenticated ? '/posts/new' : '/auth/login'}" class="dropdown-item" href="homepage-2.html">Create New Post</a>
                    </div>
                </li>
                <li th:if="${isAuthenticated}" class="nav-item">
                    <a th:href="@{/users/profile}" class="nav-link text-uppercase text-dark" href="profile-view-old.html">Profile</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/about}" class="nav-link text-uppercase text-dark" href="about.html">About</a>
                </li>
                <li th:if="${(isAuthenticated ?: false) && (session?.isAdmin ?: false)}" class="nav-item">
                    <a th:href="@{/admin}" class="nav-link text-uppercase text-dark" href="admin-portal-view.html">Admin Portal</a>
                </li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a th:href="@{/auth/login}" class="nav-link text-uppercase text-dark" href="login.html">Login</a>
                </li>
                <li th:unless="${isAuthenticated}" class="nav-item">
                    <a th:href="@{/auth/register}" class="nav-link text-uppercase text-dark" href="register.html">Register</a>
                </li>
                <li th:if="${isAuthenticated}" class="nav-item">
                    <a th:href="@{/auth/logout}" class="nav-link text-uppercase text-dark" href="#">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!-- HEADER NAVIGATION FRAGMENT  -->

<div class="d-lg-flex half" style="height: auto; min-height: 80vh; padding: 0; margin: 0;">
    <div class="bg order-1 order-md-2" style="background-image: url('/images/bg_1.jpg'); height: 80vh; background-size: cover; background-position: center;"></div>
    <div class="contents order-2 order-md-1">
        <div class="container" style="height: 80vh; background-size: cover; background-position: center;">
            <div class="row align-items-center justify-content-center" style="display: flex; align-items: center; height: 100%;">
                <div class="col-md-7">
                    <div class="card" th:object="${user}">
                        <div class="card-header text-center bg-light text-black-50">
                            <h3>Profile Information</h3>
                        </div>
                        <div class="card-body text-center">
                            <img th:src="${user.profilePhoto != null ? user.profilePhoto.url : '/settings/profile/images/default_photo.png'}" alt="Profile Picture" class="rounded-circle mb-3" style="width: 150px; height: 150px;">
                            <h5 class="card-title" th:text="${user.firstName} + ' ' +${user.lastName}">User Full Name</h5>
                            <h5 class="card-title" th:text="${user.isAdmin() ? 'Role: Admin' : 'Role: User'}">User Role</h5>
                            <h5 class="card-title" th:text="${'Username: ' + user.username}">User Role</h5>
                            <h5 class="card-title" th:text="${'Email: ' + user.email}">Email</h5>
                            <h5 class="card-title" th:if="${user.isBlocked()}"><strong>Blocked</strong></h5>
                        </div>
                        <div class="card-footer text-center bg-light" style="text-align: center;">
                            <a th:href="@{/users/update}" class="btn"
                               style="background-color: #ef8535;
                               color: white;
                               border: none;
                               padding: 10px 10px;
                               border-radius: 10px;
                               text-decoration: none;
                               display: inline-block;
                               justify-content: center;
                               align-items: center;
                               height: 50px;
                               font-size: 18px;">Update Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- FOOTER FRAGMENT -->
<footer th:fragment="footer" class="bg-secondary">
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <a th:href="@{/}"><img src="../static/images/tasteHub-logo.png" alt="persa" class="img-fluid"
                                           th:src="@{/images/tasteHub-logo.png}" style="width: 400px; height: auto"></a>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Address</h6>
                    <ul class="list-unstyled">
                        <li class="font-secondary text-dark">1000 Sofia, Bulgaria</li>
                        <li class="font-secondary text-dark">Boyana, 65 Most Amazing Recipes Str.</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Contact Info</h6>
                    <ul class="list-unstyled">
                        <li class="font-secondary text-dark">Tel: +359 888 777 666</li>
                        <li class="font-secondary text-dark">Mail: taste_hub@abv.bg</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
                    <h6>Follow</h6>
                    <ul class="list-inline d-inline-block">
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class="text-dark"><i class="ti-github"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center pb-3">
        <p class="mb-0">Copyright ©
            <script>var CurrentYear = new Date().getFullYear()
            document.write(CurrentYear)</script>
        </p>
    </div>
</footer>

<script src="/login-style/js/jquery-3.3.1.min.js"
        th:src="@{/login-style/js/jquery-3.3.1.min.js}"></script>
<script src="/login-style/js/popper.min.js"
        th:src="@{/login-style/js/popper.min.js}"></script>
<script src="/login-style/js/bootstrap.min.js"
        th:src="@{/login-style/js/bootstrap.min.js}"></script>
<script src="/login-style/js/main.js"
        th:src="@{/login-style/js/main.js}"></script>
</body>
</html>